.cronologia {
    background-image: url(../Media/cronologia-bg.jpg);
    background-size: cover;
    background-position: center;
}

.titulo {
    margin-top: 0 !important;
}

.imagen-linea {
    width: 100px;
}

.linea-tiempo {
    position: relative;
    width: 500px;
    margin: 0px auto;
    max-width: 95vw;
    height: 100%;
    font-family: Arial;
}
  
.linea-tiempo::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: $color-amarillo;
    left: 50%;
    height: 100%;
    border-radius: 10px;
}
  
.momento {
    position: relative;
    width: 45%;
    box-sizing: border-box;
}
  
.momento:nth-child(even) {
    left: 55%;
}
  
.momento::after {
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: $color-amarillo;
    border-radius: 50%;
}
  
.momento:nth-child(even)::after {
    left: calc(-11.11% - 8.5px);
}
  
.momento h3 {
    margin: 10px 0px;
    font-size: 1.5rem;
    text-align: center;
    color: $color-rojo;
    text-shadow: #000 2px 2px 2px;
}
  
.momento .descripcion {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    line-height: 22px;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
  
.momento .descripcion::after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% + 10px);
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #fff;
}
  
.momento:nth-child(even) .descripcion {
    background-color: #fff;
    color: white;
}
  
.momento:nth-child(even) .descripcion::after{
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #fff;
    border-left: none;
}