.galeria {
    background: url(../Media/galeria-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 134vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container__encabezado {
    //background: $color-verde-transparente;
    //color: $color-amarillo;
    font-family: helya-serif;
    //height: 50px;
    margin-bottom: 0;
    padding: 2rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    background: $color-verde-oscuro;
    color: $color-amarillo;
}

.container__galeria {
    font-size: 0.7rem;
    padding-top: 2rem;
    width: 100%;
    //background: $color-verde-oscuro;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3fr;
    grid-gap: 10px; 
    background: #4f763a79;
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container__imagen {
        transition: all 0.5s ease;    
        cursor: pointer;
        border-radius: 1rem;
        width: 10rem;

    }
    
    .container__imagen:hover {
        filter: brightness(50%);
        transform: scale(0.8);
    }

}